---
 
   - name: Install aptitude using apt
     apt: name=aptitude state=latest update_cache=yes force_apt_get=yes

   - name: Install required system packages
     apt: name={{ item }} state=latest update_cache=yes
     loop: [ 'apt-transport-https', 'ca-certificates', 'curl', 'software-properties-common', 'python3-pip', 'virtualenv', 'python3-setuptools']

   - name: Add Docker GPG apt Key
     apt_key:
       url: https://download.docker.com/linux/ubuntu/gpg
       state: present

   - name: Add Docker Repository
     apt_repository:
       repo: deb https://download.docker.com/linux/ubuntu bionic stable
       state: present

   - name: install docker
     apt:
       name: "{{item}}"
       state: latest
       update_cache: yes
     loop:
       - docker-ce
       - docker-ce-cli
       - containerd.io

   - name: docker was started and enabled
     service:
       name: docker
       state: started
       enabled: yes
 
   - name: Transfer env file from agentServer to hosting servers
     synchronize:
       src: /home/azureuser/myagent/_work/1/a/.env
       dest: /home/azureuser

 





