---
 
   - name: Update apt repo and cache on all Debian/Ubuntu boxes
     apt:
      update_cache: yes
      force_apt_get: yes
      cache_valid_time: 3600

   - name: Transfer file from agentServer to hosting servers
     synchronize:
       src: /home/azureuser/myagent/_work/1/a/app-artifact
       dest: /home/azureuser/bootcamp-app/

   - name: Unarchive a file that is already on the remote machine
     unarchive:
       src: /home/azureuser/bootcamp-app/app-artifact/bootcamp.zip
       dest: /home/azureuser/bootcamp-app
       remote_src: yes
 
   - name: add nodejs apt key
     apt_key:
       url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
       state: present

   - name: add nodejs 14.x repository
     apt_repository:
       repo: deb https://deb.nodesource.com/node_14.x {{ ansible_lsb.codename }} main
       state: present
       update_cache: yes

   - name: install nodejs 14.x
     apt:
       name: nodejs
       state: present   

   - name: install pm2 package
     shell:
       cmd: sudo npm install pm2 -g 
       chdir: /home/azureuser/bootcamp-app
       executable: /bin/bash

   - name: create env file from template
     template:
       src: templates/env.j2
       dest: /home/azureuser/bootcamp-app/.env

   - name: install nodemon
     become: yes
     command: "npm install --save-dev nodemon@2"
     args:
        chdir: /home/azureuser/bootcamp-app

   - name: initialize the database with npm command
     shell:
       cmd: npm run initdb
       chdir: /home/azureuser/bootcamp-app
     run_once: true

   - name: run web app
     command: 'pm2 start "npm run dev" --name weight_tracker_app'
     args:
         chdir: /home/azureuser/bootcamp-app

   - name: saving the state of pm2
     shell:
       cmd: pm2 save
       chdir: /home/azureuser/bootcamp-app
       executable: /bin/bash

   - name: startup the state of pm2
     shell:
       cmd: pm2 startup
       chdir: /home/azureuser/bootcamp-app
       executable: /bin/bash

